.calTile, .react-calendar__navigation__label, .react-calendar__navigation__arrow {
  font-size: 14px;
}

.calTile {
  padding: 8px;
  background: none;
    &:focus {
      outline: none;
    }
    &:disabled {
      background: #6f6f6f;
      color: #ffffff
    }
}

.react-calendar__navigation {
  padding: 16px 0;
}

.react-calendar__navigation__label {
  padding: 8px;
  background: none;
}

.react-calendar__navigation__arrow {
  background: none;
}

.react-calendar__month-view__weekdays {
  margin-top: 16px;
}

.react-calendar__tile--now {
  background: #ff3f1d !important;
  color: #ffffff;
}

.react-calendar__tile--active{
  background: rgb(94, 94, 255);
  color: #ffffff; 
}