.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 16px;
  margin-bottom: 54px;
  overflow: auto;
}

.AppBar {
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 10
}

.logContainer {
  padding: 16px !important;
  position: relative;
  height: 100%;
  overflow: scroll;
  margin: 16px 0;
}

.modalContainer {
  background: #fff;
  margin: 16px;
  padding: 16px;
  text-align: center;

  abbr {
    text-decoration: none;
  }
}

.dropdown {
  padding: 32px 0;
  text-align: left;
}

.modalBox {
  z-index: 10 !important;
}

.modalContainer {
  z-index: 5;
}

.logHeader {
  display: flex;
  justify-content: space-between;
    .gymName, .bookedDay {
      margin-top: 0;
    }
}